@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}    

<div class="footer-nav">
@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Home" asp-action="Index"><i class="text-primary fas fa-home"></i></a>
    <a asp-controller="Message" asp-action="Index"><i class="text-primary fas fa-envelope"></i></a>
    <a asp-controller="Home" asp-action="Index"><i class="text-primary fas fa-bell"></i></a>
    <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="text-primary fas fa-user"></i></a>
    @if (User.IsInRole("Admin"))
    {
    <a asp-controller="Home" asp-action="Admin"><i class="text-primary fas fa-users"></i></a>
    }
}
else
{
    <a asp-controller="Home" asp-action="Index"><i class="text-primary fas fa-home"></i></a>
    <a asp-controller="Message" asp-action="Index"><i class="text-primary fas fa-envelope"></i></a>
    <a asp-controller="Home" asp-action="Index"><i class="text-primary fas fa-bell"></i></a>
    <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="text-primary fas fa-user"></i></a>
}
</div>