@model IEnumerable<WhyApp.Models.ApplicationUser>
@using WhyApp.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<h4 class="top-margin">Friends (all users)</h4>
<div class="container">
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="input-group">
                    <input class="form-control border-right-0" id="search" type="text" name="SearchString" placeholder='Search...' value="@ViewData["CurrentFilter"]" />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                    </span>                
                </div>
                <ul id="contacts" class="list-group message-container top-margin" style="background-color: #ffffff;">                        
                    @foreach (var users in Model) 
                    {
                        @if(users.Email != user.Email)
                        {
                            <a asp-action="Profile" asp-route-id="@users.Id">
                                <li>
                                    <img class="img-user-navbar" src="@users.Picture" style="margin-right: 10px;" /> <span style="font-size: 18px;">@users.UserName</span>
                                </li>
                            </a>
                        }
                    }
                </ul>
            </div>
        </form>
    </div>
</div>
